.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact{
  height: 40px;
  width: 250px;
  border: 2px solid rgb(223, 58, 58);
  margin: 5px;
  position: relative;
  border-radius: 8px;
  background-color: rgb(24, 32, 29);
}

.name{
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 0px;
}
.phone{
  font-size: 12px;
  position: absolute;
  left: 10px;
  bottom: 0px;
}
.gender{
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.search{
  height: 30px;
  width: 250px;
  padding: 0px;
  border: 2px solid rgb(40, 44, 52, 0.6);
  margin: 5px;  
  border-radius: 8px;
  
}
#checkboxes{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}